.btnform {
  grid-column: 1 / 3;
  background-color: hsl(272, 57%, 61%);
  justify-content: center;
  color: #FFF;
  font-variation-settings: 'wght' 800;
}

.btnform:hover {
  background-color: hsl(272, 57%, 56%);
}