.container,
.text {
  max-width: 1220px;
  padding: 32px;
}

.container {
  padding-top: 64px;
  padding-bottom: 64px;
}

.container {
  width: 100%;
  box-sizing: border-box;
}

.banner {
  width: 100vw;
  max-width: 100%;
  height: 80vh;
  min-height: 600px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 1;
}

.banner,
.container {
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  animation: grayscaleAnim 1000ms;
}

@keyframes grayscaleAnim {
  from {
    filter: grayscale(1) opacity(20%);
  }
  to {
    filter: grayscale(0);
  }
}

@media (max-width: 650px) {
  .banner,
  .container {
    background-position: 25% bottom;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-start;
  }
}

.text {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
}

.text > p {
  grid-column: 1 / 3;
  margin-bottom: calc(22px + 0.1vw);
}

@media (max-width: 650px) {
  .text > p {
    grid-column: 1 / 4;
  }
}

.footer {
  background-color: #171717;
  padding: calc(144px - 64px) 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container.footer .container {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.contEnhanced {
  width: 100%;
  display: flex;
  justify-content: center;
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  position: relative;
}

@media (max-width: 650px) {
  .contEnhanced {
    background-position: 0%;
    
  }
}
