.sectionContainer {
  width: 100%;

  section {
    max-width: 72rem;
    margin: 0 auto;
    padding: 6rem 2rem;
  }
}

.banner {
  height: 100%;
  min-height: 70vh;

  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  section {
    p:first-of-type {
      margin-top: 2rem;
    }
  }
}

.error {
  height: 100vh;
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    opacity: 0.7;
    z-index: -1;
  }
}
