* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body,
button,
input,
textarea {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'ss04';
}

button {
  cursor: pointer;
}

body {
  color: #fff4f6;
  background-color: #1a1c28;
  font-size: 1.125rem;
  line-height: 150%;
  font-weight: regular;
}
