.card {
  width: 100%;
  background-color: #2d2d2d;
}

.card:hover {
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
}

.cardImg {
  width: 100%;
  height: auto;
  padding-bottom: calc(100% / 4 * 5);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cardBody {
  padding: 24px;
}

.cardBody h4 {
  margin-bottom: 8px;
}

.cardBox {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

@media (max-width: 650px) {
  .cardBox {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 450px) {
  .cardBox {
    grid-template-columns: 1fr;
  }
  .cardImg {
    padding-bottom: calc(100% / 5 * 4);
  }
}
