div.gallery {
  margin-top: 64px;
}

div.galleryGrid {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 32px;
}

div.galleryGrid > img {
  width: 100%;
}

@media (max-width: 650px) {
  div.galleryGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

